@font-face {
    font-family: 'Ouvrieres soldates';
    src: url('Ouvrieres-soldates.woff2') format('woff2'),
        url('Ouvrieres-soldates.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

